.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
    margin-top: 10px; /* 여러 메시지가 나타날 때 간격 */
  }
  
  .toast.show {
    opacity: 1;
    visibility: visible;
  }
  